@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
$fontMain : 'Lora', serif;
$fontMain2 : 'Montserrat', sans-serif;;
$fontSizeSmall:0.8em;
$fontSizeMedium:1em;
$fontSizeBig:1.5rem;
$fontBold:400;
$fontThin:300;
$fontColorWhite: white;
