footer{
    background-color: $bg-buenaCepa; 
    padding: $padding;
}   

    footer ul li{
        color: $bg-white;
        list-style: none;
        text-decoration: none;
    }
    
    footer ul li a{
        color: $bg-white;
        font-family: $fontMain;
        font-size: $fontSizeMedium;
        text-decoration: none;        
    }        
        footer ul li a:hover{
            color: $bg-buenaCepa;
            cursor: pointer;
        }

        .footer__contacto{
           color: $bg-buenaCepa;
        }
                
        .footer__bg__buenaCepa{
            background-image: url(../media/publi_footer.png);
            background-size: cover;
            background-repeat: no-repeat; 
        }

.footer__datos__tecnicos{
    text-align: right;
}


//BTN IR ARRIBA//
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: #ebbcc0;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
  }
  #scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color: $bg-dark
  }
    #scroll:hover {
      background-color:#f4c7ff;
      opacity:1;filter:"alpha(opacity=100)";
      -ms-filter:"alpha(opacity=100)";
    }